/* * {
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
   justify-content: center;
   text-align: center;
}

header{
display: flex;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-top: -400px; */
    
    /* background-color: aqua; */
    /* padding-right: 40px; */
    /* border: solid 1px */
    
/* } */ 


